<!--<div>-->
<!--  <h3><%= @user.name%></h3>-->
<!--  <%= image_tag @user.get_profile_image(100,100) %>-->
<!--</div>-->

<!--<thead>-->
<!--  <tr>-->
<!--    <th>image</th>-->
<!--    <th>name</th>-->
<!--    <th colspan="3"></th>-->
<!--  </tr>-->
<!--</thead>-->

<!--<% @books.each do |book|%>-->
<!--<div>-->
<!--  <%= link_to book_path(book.id) do%>-->
<!--  <%= image_tag book.get_image %>-->
<!--  <% end %>-->
<!--  <p><%= image_tag post_image.user.get_profile_image(100,100) %></p>-->
<!--  <p><%= book.title %></p>-->
<!--  <p><%= book.body %></p>-->
<!--</div>-->
<!--<% end %>-->