<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <script src="https://kit.fontawesome.com/ce194f1660.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    
    <header>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Bookers", root_path, {class: "navbar-brand"} %>
            <% if user_signed_in? %>
            
            <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
              <ul class="navbar-nav ml-auto">
                
                <li>
                  <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                  <i class="fas fa-home"></i> Home
                  <% end %>
                </li>
                
                <li>
                  <%= link_to users_path, class: "nav-link text-light" do %>
                    <i class="fas fa-users"></i>  Users
                  <% end %>
                  
                </li>
                
                <li>
                  <%= link_to books_path, class: "nav-link text-light"  do %>
                    <i class="fas fa-book-open"></i>  Books
                  <% end %>
                </li>
                
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                    <i class="fas fa-sign-out-alt"></i>Log out
                  <% end %>
                </li>
              </ul>
            </div>
        </div>
      </div>
     <% else %>
     <div class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
         <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
           <ul class="navbar-nav ml-auto">
             
              <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              
              <li>
                <%= link_to about_path, class: "nav-link text-light" do %>
                  <i class="fas fa-link"></i> About
                <% end %>
              </li>
              
              <li>
                <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                  <i class="fas fa-user-plus"></i>  Sign up
                <% end %>
              </li>
              
              <li>
                <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                  <i class="fas fa-sign-in-alt"></i>  Log in
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>  
      <% end %>
    </header>
    <%= yield %>
  </body>
  
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
        	<p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
</footer>

</html>
